.question__info {
    display: flex;
    justify-content: center;
}

.question__info-text-normal, .question__info-text-sucess  {
    padding: 5px;
}

.question__info-text-normal {
    color: grey;
}

.question__info-text-sucess {
    color: #70B25D;
} 

img {
    width: 45px;
}

