.question__answers {

    padding: 2%;
    display: grid;
    display: grid;
    grid-gap: 0;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    div {
        padding: 2%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.question__menu {
    display: flex;
    justify-content: space-evenly;
    padding: 2%;
}
