@import '../../styles.scss';

.welcome {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome__text-simple {

}

.welcome__button {
}