$primary-background-color: #2D3333;
$primary-text-color: #FFFFFF;
$primary-button-color: #01BBB8;
$primary-button-font-color: #2D3333;
$primary-button-font-size: 2em;
$font-size-title-h2: 3em; 
$font-size-normal: 1.5em; 

//ToDo use this var, too much depper paths its too ugly.
$color-sucess: #70B25D;
$color-fail: #FF0000;

html,body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  display: grid;
  grid-gap: 0;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 10fr 1fr;
  height: 100%;
}

.app {
  grid-column: 2;
  grid-row: 2;
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $primary-background-color;
}

button {
  background-color: $primary-button-color;
  color: $primary-button-font-color;
  border: none;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 3px;
  font-size: $primary-button-font-size;
  font-weight: bold;
}

p {
  color: $primary-text-color;
  font-size: $font-size-normal;
}

h2 {
  color: $primary-text-color;
  font-size: $font-size-title-h2;
}